{
   "plugins": [
      "prettier-plugin-tailwindcss",
      "@ianvs/prettier-plugin-sort-imports"
   ],
   "semi": false,
   "tabWidth": 3,
   "singleQuote": true,
   "importOrder": [
      "^@core/(.*)$",
      "",
      "^@server/(.*)$",
      "",
      "^@ui/(.*)$",
      "",
      "^[./]"
   ],
   "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
   "importOrderTypeScriptVersion": "5.0.0"
}
